<ejs-sidebar id="default-sidebar" #sidebar style="visibility: hidden" [width]="'100px'"
    [showBackdrop]="false">
    <div class="title"></div>

    <div class="center-align">
        <a routerLinkActive="router-link-active" routerLink="/main/dashboard"
            [routerLinkActiveOptions]="{ exact: true }" pTooltip="Dashboard">

            <i class="pi pi-microsoft"></i>
            <!-- <p>Dashboard</p> -->
        </a>
    </div>
</ejs-sidebar>
<div>
    <div class="header">
        <div id="head">
            <button ejs-button id="toggle" #togglebtn cssClass="e-flat" iconCss="e-icons burg-icon" isToggle="true"
                (click)="toggleClick()">
                <i class="pi pi-bars
"></i>
            </button>
        </div>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>